body{
    background-color: rgb(226, 215, 215);
    overflow:hidden;
}

div{
   position: relative;
    left: 90px;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 45px;
   
    
}
.ab{
    display: inline-block;
    margin: 20px;
}
.cd{
    display: inline-block;
    margin: 20px;
}
.ef{
    display: inline-block;
    margin: 20px;
}
